/*----------
BASIC SETUP
----------*/

:root {
	/*PRIMARY COLORS*/
	--clr-pale-blue: hsl(225, 100%, 94%);
	--clr-bright-blue: hsl(245, 75%, 52%);
	/*NEUTRAL COLORS*/
	--clr-very-pale-blue: hsl(225, 100%, 98%);
	--clr-desaturated-blue: hsl(224, 23%, 55%);
	--clr-dark-blue: hsl(223, 47%, 23%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: url(images/pattern-background-mobile.svg), var(--clr-pale-blue);
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 100vh;
	font-family: "Red Hat Display", sans-serif;
	text-align: center;
	display: grid;
	place-items: center;
}

/*----------
CARD SETUP
----------*/
.wrapper {
	background-color: #fff;
	max-width: 27.5rem;
	overflow: hidden;
	margin-left: 1.5em;
	margin-right: 1.5em;
	border-radius: 20px;
	box-shadow: 0 10px 20px 0 hsla(241, 65%, 45%, 0.1);
}

/*IMAGE SECTION*/
.image img {
	display: block;
	max-width: 100%;
	height: auto;
}
/*ORDER SUMMARY SECTION*/
.summary-text h1 {
	font-size: 1.4rem;
	color: var(--clr-dark-blue);
	font-weight: 800;
	padding: 1.3em 0 0.8em 0;
}
.summary-text p {
	line-height: 1.6;
	color: var(--clr-desaturated-blue);
	padding: 0 2.1em 1.4em 2.1em;
	font-size: 0.95rem;
}
/*PLAN SECTION*/
.plan {
	background-color: var(--clr-very-pale-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1.5em 1.5em 1.5em;
	padding: 1em;
	border-radius: 10px;
}
.plan-text {
	display: flex;
}
.price {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	font-size: 0.7rem;
	padding-left: 1.2em;
	gap: 0.2em;
}
.price h2 {
	color: var(--clr-dark-blue);
	font: size 0.9rem;
}
.price p {
	color: var(--clr-desaturated-blue);
	font-size: 0.8rem;
}
/*CHANGE PLAN BUTTON*/
.plan-change a {
	color: var(--clr-bright-blue);
	font-size: 0.8rem;
	font-weight: 700;
	opacity: 1;
	transition: all 0.2s ease;
}
.plan-change a:hover {
	opacity: 0.75;
}

/*----------
BUTTONS SETUP
----------*/
.buttons {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-self: center;
	gap: 0.65em;
	margin-bottom: 1.5em;
}
.btn {
	all: unset;
	display: block;
	cursor: pointer;
	font-size: 0.95rem;
	font-weight: 700;
	padding: 1em;
	margin-left: 1.5em;
	margin-right: 1.5em;
	border-radius: 10px;
}
/*SUBMIT BUTTON*/
.submit {
	background-color: var(--clr-bright-blue);
	color: #fff;
	box-shadow: 0 15px 20px 0 hsla(241, 65%, 45%, 0.25);
	opacity: 1;
	transition: all 0.2s ease;
}
.submit:hover {
	opacity: 0.85;
}
/*CANCEL BUTTON*/
.cancel {
	color: var(--clr-desaturated-blue);
	transition: color 0.2s ease;
}
.cancel:hover {
	color: var(--clr-dark-blue);
}

/*----------
ATTRIBUTION
----------*/
.attribution {
	font-size: 0.7em;
	color: var(--clr-desaturated-blue);
}
.attribution a {
	color: var(--clr-desaturated-blue);
}

/*----------
MEDIA QUERIES FOR SCREENS WIDER THAN 450PX
----------*/
@media (min-width: 450px) {
	body {
		background-image: url(images/pattern-background-desktop.svg);
		background-repeat: no-repeat;
		background-size: contain;
	}

	.summary-text h1 {
		font-size: 1.75rem;
		padding-top: 1.75em;
		padding-bottom: 0.75em;
	}

	.summary-text p {
		font-size: 1.1rem;
		padding-left: 3em;
		padding-right: 3em;
	}

	.plan {
		margin: 0 3em 2em 3em;
		padding: 1.5em;
	}

	.plan-text h2 {
		font-size: 1.1rem;
	}

	.plan-text p {
		font-size: 1.1rem;
	}

	.plan-change a {
		font-size: 0.9rem;
	}

	.btn {
		margin-left: 3em;
		margin-right: 3em;
	}
}
